<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Account Activation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Activate Your Account for Our CRM</h1>
    <p>Hello <%= user.name %>,</p>
    <p>Thanks for using our CRM! Please activate your account using the following code</p>
    <h3><%= activationCode %></h3>
    <p>Thanks!!</p>
</body>
</html>